In [2]:
import pandas as pd

In [60]:
urls_noHeader = ["https://raw.githubusercontent.com/gr33ndata/dmoz-urlclassifier/master/dmoz0409.csv","https://raw.githubusercontent.com/kennedyCzar/URI-URL-CLASSIFICATION-USING-RECURRENT-NEURAL-NETWORK-SVM-AND-RANDOMFOREST/master/DATASET/2013_04_21.csv"]
#"https://raw.githubusercontent.com/mpaul24/WebsiteClassification/master/website.csv",
##df = pd.DataFrame(pd.read_excel("Test.xlsx"))

li = []

def extractData(urls):
    for i in range(len(urls)):
        data = pd.read_csv(urls[i])
        data.head()
        data.columns = ['index', 'URL', 'Category']
        data = data.drop(['index'], axis = 1)
        data_list = ['Shopping']
        data_sv = data[data.Category.isin(data_list)]
        data_sv.to_csv('websites'+str(i)+'.csv')
    


extractData(urls_noHeader)
data = pd.read_csv('websites0.csv')
data.head()

   Unnamed: 0                                     URL  Category
0     1122436  http://tias.com/stores/grannyscupboard  Shopping
1     1122437               http://www.go-kat-go.com/  Shopping
2     1122438           http://monimania.home.att.net  Shopping
3     1122439                  http://www.decodan.com  Shopping
4     1122440                http://www.decoworld.com  Shopping

In [61]:

#data = extractData(urls_noHeader)
d = pd.read_csv('websites1.csv')
d.head()

   Unnamed: 0                                URL  Category
0      852759            http://www.decodan.com/  Shopping
1      852760          http://www.decoworld.com/  Shopping
2      852761  http://www.ohioseeburgrepair.com/  Shopping
3      852762         http://www.dowahdiddy.com/  Shopping
4      852763         http://www.trashdaddy.com/  Shopping